version: '3'
services:
  influxdb:
    image: influxdb:latest
    container_name: influxdb
    networks:
      - cgnet
    security_opt:
      - no-new-privileges:true
    restart: unless-stopped
    ports:
      - "8086:8086"
    volumes:
      - influxdb-data:/var/lib/influxdb2
    environment:
      - DOCKER_INFLUXDB_INIT_MODE=setup
      - DOCKER_INFLUXDB_INIT_USERNAME=myuser
      - DOCKER_INFLUXDB_INIT_PASSWORD=mypassword
      - DOCKER_INFLUXDB_INIT_ORG=myorg
      - DOCKER_INFLUXDB_INIT_BUCKET=mybucket
      # - DOCKER_INFLUXDB_INIT_RETENTION=30d  # Adjust retention period as needed

  nodeapp:
    image: cosmic-glimpse  # Use the image you built earlier
    container_name: cg-test
    ports:
      - "3000:3000"
    environment:
      - INFLUXDB_HOST=influxdb
      - INFLUXDB_PORT=8086
      - INFLUXDB_DB=mydb
      - INFLUXDB_USER=myuser
      - INFLUXDB_PASSWORD=mypassword
      - INFLUXDB_HTTP_AUTH_ENABLED=true
    depends_on:
      - influxdb
    networks:
      - cgnet

networks:
  cgnet:

volumes:
  influxdb-data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: D:\GithubRepos\msmcs-robotics\CosmicGlimpse\.data
